  {
    margin:0;
    padding:0;
    box-sizing:border-box;
   }
   body{
    display: flex;
    font-family: Ubuntu;
    justify-content: center ;
    align-items: center;
    min-height: 90vh;
    background: linear-gradient(45deg,#fbda61,#ff5acd);
   }
   .card{
    position: relative;
    height: 190px;
    width: 390px;
    background: white;
    border-radius:20px ;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
   }
   .card:hover{
    height: 450px;
   }
   .imgBx{
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 15px 50px rgba(0,0,0,0.55);
    overflow: hidden;
    transition: 0.5s;
   }
   .card:hover .imgBx{
    width: 180px;
    height: 180px;
    top: -50px;
   }
   .card .imgBx i{
    position: absolute;
    content: 'Zoom-in';
    color:white;
    left:70%;
    top:5px;
    font-weight: 600;
    font-size: 0.7em;
    transition: 1.5s;
   }
   .card:hover .imgBx i::before{
    content: 'Zoom-in';
   }
   .card .imgBx:hover i::before{
    position: relative;
    content: 'Zoom-out';
    top:300px;
    left:20%;
    opacity: 1;
   }
   .card:hover .imgBx:hover{
    position:absolute;
    width: 300px;
    height: 300px;
    top: -75px;
   }
   .imgBx img{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
   }
   .card .contents{
    position: absolute;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
   }
   .card .contents .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
   }
  .card:hover .contents .details{
   transform: translateY(-20px);
  }
   .card .contents .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color:#555;
    line-height: 1.2em;
   }
  .card .contents .details h2 span{
   font-size: 0.7em;
   font-weight:500 ;
   opacity: 0.5;
  }
  .card .contents .details .data{
   display: flex;
   justify-content: space-between;
   margin: 20px 0;
  }
  .card .contents .details .data h3{
   font-size: 1em;
   color:#555;
   line-height: 1.25em;
   font-weight: 600;
  }
  .card .contents .details .data h3 span{
   font-size: 0.8em;
   font-weight: 400;
   opacity:0.5;
  }
  .card .contents .details .actionBtn{
   display: flex;
   justify-content: space-between;
   /*gap: 20px;*/
  }
.actionBtn button{
   padding: 10px 30px;
   border-radius: 5px;
   border: none;
   outline: none;
   font-size: 1em;
   font-weight: 600;
   background:  #ff5f95;
   color: #fff;
   cursor: pointer;
  }
  .card .contents .details .actionBtn button:nth-child(2){
   border: 1px solid #999;
   color: #999;
   background: #fff;
  }
  .komen{
position:fixed;
opacity: 0.1;
    height: 510px;
    width: 320px;
    background: #67897;
    border-radius:20px ;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    top:-490px;
    /*top:10%;*/
    transition: 1.5s;
  }
  .kolom_komentar{
   position: relative;
   
  }
  .kolom_komentar .input{
   position: relative;
   bottom: 0;
   display: inline-block;
   justify-content:center;
   height: 30px;
   width: 70%;
   background:#7799;
   border: none;
   border-radius: 10px;
   margin: 5px;
   margin-top: 5px;
   color: black;
   font-weight: 600;
   text-align: center;
  }
  .kontenKomen{
   position: relative;
   left:5%;
   transform: translateY(-5%);
   background:#6793;
   margin-top:20px;
   height: 70%;
   width: 90%;
   border-radius: 20px;
   overflow: scroll;
  }
  .isikomen{
   position: absolute;
   margin-top:10px;
   left:5%;
   transform: translateY(-5%);
   width: 90%;
   white-space: nowrap;
   overflow:auto;
  }
  .isikomen div{
   font-size: 0.5em;
   margin:10px;
   background:#2993;
   border-radius: 5px;
   min-height: 50px;
   max-width: 90%;
   display: block;
        overflow: auto;
white-space: nowrap;
text-overflow: ellipsis;
color: rgb(0,0,45,0.6);
font-weight: 900;
  }
  .isikomen div a{
   font-weight: 400;
   color: black;opacity: 0.5;
   font-size: 1.5em;
   border-top:1px solid green;
   max-width: 90;
   white-space: nowrap;
text-overflow: ellipsis;

  }
  .social{
position:fixed;
opacity: 0.9;
    height: 510px;
    width: 320px;
    background: #67897;
    border-radius:20px ;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    left: -390px;
    /*top:10%;*/
    transition: 1.5s;
  }
 
  .kontenSocial{
   position: relative;
   left:5%;
   transform: translateY(-5%);
   background:#679;
   margin-top:20px;
   height: 70%;
   width: 90%;
   border-radius: 20px;
   overflow: scroll;
  }
  .isiSocial{
   position: absolute;
   margin-top:10px;
   left:5%;
   transform: translateY(-5%);
   width: 90%;
   white-space: nowrap;
   overflow:auto;
  }
  .isiSocial div{
   margin:10px;
   background:#1299;
   border-radius: 10px;
   min-height: 50px;
   max-width: 90%;
   display: block;
   overflow: auto;
   text-align: center;
white-space: nowrap;
text-overflow: ellipsis;
color: rgb(0,0,45,0.6);
font-weight: 900;
box-shadow: 0 0 25px blue;
  }
  .isiSocial div a{
   position: relative;
   top: 12px;
   font-weight: 400;
   text-decoration: none;
   color: black;
   opacity: 0.8;
   font-size: 1.5em;
   border-top:1px solid green;
   max-width: 90;
   white-space: nowrap;
   text-overflow: ellipsis;
   text-align: center;
  }
  .send{
position: absolute;
top:15px;
height: 27px;
padding:1px 17px;
justify-content: center;
align-items: center;
   border-radius: 5px;
   border: none;
   outline: none;
   font-size: 1em;
   font-weight: 600;
   background:  #ff5f95;
   color: #fff;
  }
   .light-button{
    position: relative;
    background: #444;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    height: 20px;
    padding:5px 10px;
    transition:0.5s;
   }
   .light-button:hover{
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px ;
   }
   .light-button::before{
    content: '';
    position:absolute;
    inset:2px;
    background:#27282c;
   }
   
   .light-button span{
    position:relative;
    z-index: 1;
   }
   .light-button i{
    position:absolute;
    inset: 0;
    display: block;
   }
   
   .light-button i::before{
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 80%;
    transform: translateX(-50%);
    width: 10px;
    height: 5px;
    border:2px solid var(--clr);
    background: #27282c;
    transition: 0.5s;
   }
   .light-button:hover i::before{
    width:20px;
    left:20%;
    box-shadow: 0 0px 20px red;
   }
   .light-button i::after{
    content: '';
    position: absolute;
    top: -3.5px;
    left: 20%;
    transform: translateX(-50%);
    width: 10px;
    height: 5px;
    border:2px solid var(--clr);
    background: #27282c;
    transition: 0.5s;
   }
   .light-button:hover i::after{
    width:20px;
    left:80%;
    box-shadow: 0 0px 20px red;
   }